@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Fonts === */
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Medium.woff2") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.woff2") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Light.woff2") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Regular.woff2") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Semibold.woff2") format("truetype");
  font-weight: 600;
}